<?xml version='1.0' encoding='utf-8'?>
<widget id="org.openenergymonitor.cydynni" version="1.3.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cyd Ynni</name>
    <description>
        Cyd Ynni app to show hydro status
    </description>
    <author email="david@inferiorplanet.co.uk" href="http://cydynni.org.uk/">
        David Hunnisett
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="http://cydynni.org.uk/*" />
    <allow-navigation href="http://cydynni.org.uk/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
        <preference name="EnableViewportScale" value="true"/>
    </platform>

    <icon platform="ios" src="res/icons/ios/icon-small.png" width="29" height="29" />
    <icon platform="ios" src="res/icons/ios/icon-small-2x.png" width="58" height="58" />
    <icon platform="ios" src="res/icons/ios/icon-40.png" width="40" height="40" />
    <icon platform="ios" src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
    <icon platform="ios" src="res/icons/ios/icon-50.png" width="50" height="50" />
    <icon platform="ios" src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
    <icon platform="ios" src="res/icons/ios/icon.png" width="57" height="57" />
    <icon platform="ios" src="res/icons/ios/icon-2x.png" width="114" height="114" />
    <icon platform="ios" src="res/icons/ios/icon-60.png" width="60" height="60" />
    <icon platform="ios" src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
    <icon platform="ios" src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
    <icon platform="ios" src="res/icons/ios/icon-72.png" width="72" height="72" />
    <icon platform="ios" src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
    <icon platform="ios" src="res/icons/ios/icon-76.png" width="76" height="76" />
    <icon platform="ios" src="res/icons/ios/icon-76-2x.png" width="152" height="152" />

    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait.png" width="320" height="480" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
    <splash platform="ios" src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />
    <splash platform="ios" src="res/screens/ios/screen-ipad-portrait.png" width="768" height="1024" />
    <splash platform="ios" src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048" />

    <icon platform="android" qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
    <icon platform="android" qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
    <icon platform="android" qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
    <icon platform="android" qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
    <icon platform="android" qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
    <icon platform="android" qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>

    <splash platform="android" qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
    <splash platform="android" qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
    <splash platform="android" qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
    <splash platform="android" qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />

    <icon platform="wp8" src="res/icons/wp8/ApplicationIcon.png" width="99" height="99" />
    <icon platform="wp8" src="res/icons/wp8/Background.png" width="159" height="159" />

    <icon platform="windows" src="res/icons/windows8/logo.png" width="150" height="150" />
    <icon platform="windows" src="res/icons/windows8/smalllogo.png" width="30" height="30" />
    <icon platform="windows" src="res/icons/windows8/storelogo.png" width="50" height="50" />
    
    <engine name="android" spec="~5.2.0" />
    <engine name="ios" spec="~4.2.1" />
</widget>
